body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 600px;
}


.title {
 	text-align: center; 
}

.postList {
 	list-style: none; 
  	width: 70%;
  	margin-left: 20%;
}

.postListItem{
  	
	outline-style: solid; 
  	width: 65%;
  	
}

a {
 	text-decoration: none;
}

.categoryList {
	float: left;
  	margin-left: 30%;
}




