body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.title {
 	padding-left: 10%;
  	padding-bottom: 5%;
  	padding-top: 5%;
}

.post-list {
	
}

.post-container {
 	margin-bottom: 25px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	transition: 0.3s;
  	border-radius: 5px; /* 5px rounded corners */
  	list-style-type: none;
  	padding-top: 5%;
  	padding-bottom: 5%;
  	max-width: 600px;
}

.post-list-item{
  	padding-left: 5%;
}

a {
 	text-decoration: none;
  	color: black;
}

.category-list {
	float: right;
  	padding-bottom: 10%;
}

.category-item {
 	padding-left: 5%; 
}

.bottom-button {
	bottom: 0;
  	background-color: black;
  	border-color: gray;
  	width: 100%;
  	
}

.bottom-button:hover {
 	background-color: gray;
  	border-color: white;
}

.bottom-button:active:focus {
  	background-color: gray !important;
  	border-color: white !important;
}

@media screen and (max-width: 766px) {
 	.category-list {
   		padding-left: 10%;   
  	}
}




