body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
 	text-align: center; 
}

.postList {
 	list-style: none; 
  	float: left;
}

.postListItem{
  	
	outline-style: solid; 
  	width: 65%;
  	
}

a {
 	text-decoration: none;
}
